#!/usr/bin/make -f
# debian/rules for alien

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use v3 compatability mode, so ldconfig gets added to maint scripts.
export DH_COMPAT=5
#export ocfscripts=kqi-fakenat-ifaces kqi-ipt-rules kqi-net-cfg kqi-net-iface kqi-priv-routes kqi-racoon kqi-rsync-cfg

PACKAGE=$(shell dh_listpackages)

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean -d
	printf "" > debian/files
	rm debian/check-postqueue.debhelper.log
	rm debian/check-postqueue.substvars

binary-indep: build

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k -d
	dh_installdirs
	mkdir -p debian/$(PACKAGE)/usr/bin
	install -o root -g root  -m 0755 check_postqueue.pl debian/$(PACKAGE)/usr/bin/check_postqueue
		
	dh_installdocs
	dh_installchangelogs Changelog.txt

# Copy the packages's files.
	#cp -a etc debian/$(PACKAGE)

#
# If you need to move files around in debian/$(PACKAGE) or do some
# binary patching, do it here
#


# This has been known to break on some wacky binaries.
#	dh_strip
	dh_installman man/check_postqueue.8
	dh_compress
#	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	-dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
